@tailwind base;
@tailwind components;
@tailwind utilities;

.italiana {
  font-family: "Italiana", serif;
}

.gradientCard {
  background-image: url('../public/mountain.jpg');
}

.strip {
  background-image: url('../public/mountain.jpg');
  object-fit: cover;
  width: 100vw;  
height: 1150px; 
z-index: -999;
position: absolute;
display:block;

}

.gradientButton {
  background: radial-gradient(
        140.93% 294.64% at 85.9% 100%,
        rgba(226, 85, 212, 0.2) 11.98%,
        rgba(255, 0, 229, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
      175.63% 246.69% at 53.21% -62.96%,
      #220069 0%,
      rgba(112, 59, 225, 0) 100%
    );
}

.glassy {
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.27);
border-radius: 3rem;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.3px);
-webkit-backdrop-filter: blur(5.3px);
border: 1px solid rgba(255, 255, 255, 0.44);
}

.backgroundImageEvan {
  background-image: url('../public/evan.png');
    object-fit: cover;
}